.h5_component_polyLine{

}
.h5_component_polyLine canvas{
    position: absolute;
    top:0;
    left: 0; /*用canvas做动画，会进行分层，要用到z-index*/
    width: 100%;
    height: 100%;
}
.h5_component_polyLine .text{
    position: absolute;
    font-size: 12px;
    text-align: center;
    bottom: -20px;
    line-height: 20px;
    height: 20px;
    -webkit-transition: all 1s 1.5s;
    -webkit-opacity: 0;
}
.h5_component_polyLine_load .text{
    -webkit-opacity: 1;
}
.h5_component_polyLine_leave .text{
    -webkit-opacity: 0;
}